<!-- <article class="card">
    <header>
        <h6 class="card-title"></h6>
  
    </header>
    <div class="card-body">
        <p>Blog content</p>
        <ol>
            <li>comment 1</li>
            <li>comment 2</li>
        </ol>
    </div>
</article> -->

<article class="card blog-card">
    <div class="card-body">
        <header class="d-flex justify-content-between blog-card-info">
            <h5 class="card-title">Blog Title</h5>
            <aside class="d-flex">
                <p class="blog-card-creation-info">Pushkar Nagpure, 7th Nov 2023</p>
            </aside>
        </header>
        <div class="blog-content d-flex-vertical justify-content-between">
            <p class="card-text">
                Blog content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam repudiandae rem
                iusto nostrum aspernatur voluptatem ea harum, autem nihil porro iure dolorem voluptate tempore illum
                corrupti illo voluptas vel!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, commodi
                temporibus! Autem tempora ipsa ipsam voluptate atque aspernatur odio quas dicta at, sed unde in
                distinctio dolores velit architecto exercitationem.
            </p>
            <div class="blog-card-footer">
                <small
                    class="blog-card-tag">
                    4
                    <i class="bi bi-chat-square-text"></i>
                </small>
            </div>
            <!-- <ol class="card-text">
                <li>comment 1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. In id, numquam eaque maxime laudantium error minus sint! Animi ut maxime illum laboriosam iste, non eveniet consequuntur, corporis mollitia, laborum dolor!</li>
                <li>comment 2</li>
            </ol> -->
        </div>
    </div>
</article>