/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-content: space-between;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.blog-panel {
    padding: 10px;
}

.panel-header {
    border-bottom: 2px solid black;
}

.tag {
    font-weight: lighter;
    border-radius: 4px;
    border: 1px solid teal;
    padding: .25em;
    margin: .25em;
}

.blog-panel-body {
    margin-top: 1em;
}

.link {
    text-decoration: underline;
    color: teal;
    cursor: pointer;
}
