<section>
    <article class="blog-panel">
        <header class="panel-header flex flex-space-between">
            <h5 class="panel-header-text">Recently Added</h5>
            <small class="link">View All</small>
        </header>
        <!-- <div class="blog-panel-body flex tag-list">
            <small class="tag">nature</small>
            <small class="tag">programming</small>
            <small class="tag">c#</small>
            <small class="tag">angular</small>
            <small class="tag">mathematics</small>
            <small class="tag">world cinema</small>
            <small class="tag">travel</small>
        </div> -->
    </article>
</section>